/* Style applied to all pages */
* {
background-color: #ffe1bd;
margin: auto;
font-family:'Quicksand', sans-serif;
}

.topBar {
  display: grid;
  margin-top: 8px;
  background-color: #ffe1bd;
  text-align: center;
  color: #45444b;
  font-size: 48px;
}

.titleBar {
  font-size: 32;
  color: #45444b;
  display: grid;
  text-align: center;
  margin-bottom: 12px;
}

.mock-grid {
  display: flexbox;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: #228c80;
  border-radius: 6%;
  border: 5px solid #45444b;
}

/* Style applied to gameboard page */
.score-container {
  display: grid;
  color: #45444b;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
  }

.top-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #45444b;
  margin-bottom: 12px;
  margin-left: 400px;
  margin-right: 400px;
}

.homeButton-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #45444b;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 400px;
  margin-right: 400px;
}

.homeButton-container-hs {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  color: #45444b;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 400px; 
}
  
.new-game {
  background-color: #de670e;
  color: #45444b;
  height: 60px;
  width: 120px;
  border: 2px solid #45444b;
  border-radius: 6%;
  margin-bottom: 12px;
  font-size: 22px;
  cursor: pointer;
}

.home {
  background-color: #de670e;
  color: #45444b;
  height: 60px;
  width: 120px;
  border: 2px solid #45444b;
  border-radius: 6%;
  margin-bottom: 12px;
  font-size: 22px;
  cursor: pointer;
}

.home_howTo {
  background-color: #de670e;
  color: #45444b;
  height: 60px;
  width: 120px;
  border: 2px solid #45444b;
  border-radius: 6%;
  margin-bottom: 12px;
  font-size: 22px;
  cursor: pointer;;
}
  
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: #228c80;
  border-radius: 4%;
  border: 5px solid #45444b
}

.grid div {
  height: 138px;
  width: 138px;
  color: #45444b;
  border-radius: 12%;
  font-size: 70px;
  text-align: center;
  border: 5px solid #45444b;
  vertical-align: middle;
  line-height: 138px;
}

.bottom-display {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #45444b;
  margin-top: 8px;
  margin-bottom: 40px;
}

.time {
  margin-left: 30%;
  margin-right: 5%;

}

.moves {
  margin-right: 30%;
  margin-left: 5%;
}

/* Style applied to  Home Page */
button {
  background-color: #de670e;
  color: #45444b;
  height: 120px;
  width: 240px;
  border: 2px solid #45444b;
  border-radius: 6%;
  margin-bottom: 36px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 44px;
  margin-top: 12px;
  cursor: pointer;
}

.button-container {
  vertical-align: baseline middle;
  background-color: #228c80;
  border-radius: 12%;
}

/* Style applied to HOW TO page */
#how-to-play {
  background-color: #228c80;
  color:  white;
  font-size: 24px;
  text-align: left;
  margin-left: 24px;
  margin-top: 30px;
  vertical-align: text-top;
  text-justify: auto;
  border-radius: 20%;
}

/* Style applied to high-score page */
#high-scores-list {
  background-color: #228c80;
  border-radius: 30%;
  color:  white;
  font-size: 24px;
  text-align: left;
  margin-left: 24px;
  margin-top: 30px;
  vertical-align: text-top;
  text-justify: auto
}